alembic==1.13.1
attrs==25.1.0
av==13.1.0
beautifulsoup4==4.12.3
blinker==1.8.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.7
cloup==3.0.5
colorama==0.4.6
decorator==4.4.2
dnspython==2.6.1
dominate==2.9.1
email_validator==2.1.1
Flask==3.0.3
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
glcontext==3.0.0
greenlet==3.0.3
h11==0.14.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
install==1.3.5
isosurfaces==0.1.2
itsdangerous==2.2.0
Jinja2==3.1.3
kafka-python==2.0.2
Mako==1.3.3
ManimPango==0.6.0
mapbox_earcut==1.0.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
moderngl==5.12.0
moderngl-window==3.1.1
moviepy==1.0.3
networkx==3.4.2
numpy==2.2.2
outcome==1.3.0.post0
Pillow==9.5.0
proglog==0.1.10
psycopg2-binary==2.9.9
pycairo==1.27.0
pycparser==2.22
pydub==0.25.1
pyglet==2.1.2
PyGLM==2.7.3
Pygments==2.19.1
PySocks==1.7.1
python-dotenv==1.0.1
requests==2.32.3
rich==13.9.4
scipy==1.15.1
screeninfo==0.8.1
selenium==4.28.1
skia-pathops==0.8.0.post2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.29
srt==3.5.3
svgelements==1.9.6
tqdm==4.67.1
trio==0.28.0
trio-websocket==0.11.1
typing_extensions==4.11.0
urllib3==2.3.0
visitor==0.1.3
watchdog==6.0.0
websocket-client==1.8.0
Werkzeug==3.0.2
wsproto==1.2.0
WTForms==3.1.2
